@page
@using System.Collections.Specialized
@model syslogSite.Pages.ConfigRollbackTestModel
@{
    ViewData["Title"] = "ConfigRollbackTest";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>ConfigRollbackTest</h1>
<select id="configs"></select>
<input type="button" onclick="btnGoClick()" value="Rollback to Config"/>

@section Scripts
{
    <script>
        $(document).ready(function() {
            $.ajax(
                {
                    type: "GET",
                    url: "/ConfigRollbackTest?handler=Configs",
                    data: {},
                    contentType: "application/json",
                    dataType: "json",
                    success: function(data) {
                        //var dataObj = JSON.parse(data);
                        //dataObj.pop();
                        console.log(data);
                        data.pop();
                        var dropdown = document.getElementById("configs");
                        for (var i = 0; i < data.length; i++) {
                            var opt = document.createElement('option');
                            opt.appendChild(document.createTextNode(data[i].toString()));
                            opt.value = data[i].toString();
                            dropdown.appendChild(opt);
                        }
                    }
                });
        });

        function btnGoClick() {
            alert("go clicked");
            $.ajax(
                {
                    type: "GET",
                    url: "/ConfigRollbackTest?handler=Rollback",
                    data: { configName: (document.getElementById("configs").value).toString() },
                    contentType: "application/json",
                    dataType: "json",
                    success: function(data) {
                        if ("success" == data['result']) {
                            console.log("success");
                        } else {
                            console.log(data['result']);
                            console.log(data['error']);
                        }
                    }
                });
        }

    </script>
}